[submodule "mcollective"]
	path = mcollective
	url = git://github.com/camptocamp/puppet-mcollective.git
[submodule "augeas"]
	path = augeas
	url = git://github.com/camptocamp/puppet-augeas.git
[submodule "bind"]
	path = bind
	url = git://github.com/camptocamp/puppet-bind.git
[submodule "buildenv"]
	path = buildenv
	url = git://github.com/camptocamp/puppet-buildenv.git
[submodule "public_ipaddress"]
	path = public_ipaddress
	url = git://github.com/camptocamp/puppet-public_ipaddress.git
[submodule "ruby"]
	path = ruby
	url = git://github.com/camptocamp/puppet-ruby.git
